<html>
    <head>
        <title>Je veux mon serveur</title>
        <link rel="stylesheet" href="../assets/style.css">
        <script src="vendors/jquery-2.2.4.min.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/tools.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
