<div class="content">
    <button onclick="addCharType('Consonne')">Consonne</button>
    <button onclick="addCharType('Voyelle')">Voyelle</button>
    <button onclick="addCharType('Nombre')">Nombre</button>
    <button onclick="addCharType('Caractères spéciaux')">Caractères spéciaux</button>
    <div>Ajoutez un type de caractère en appuyant sur le bouton correspondant, puis validez qaund vous êtes satisfait de votre sélection</div>
    <div id="selection"></div>
    <button onclick="validate()">Valider</button>
    <div id="result">Votre mot de passe est le : <span id="pass"></span></div>
</div>